@import url(import.css);

.buttonPrimary {
    font-family: "Oswald", sans-serif;
    background-color: var(--redDark);
    color: var(--YellowLight);
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    font-optical-sizing: auto;
    font-size: 0.9rem;
    font-weight: 200;
    font-style: normal;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonPrimary span {
    display: none;
}

.buttonPrimary:hover span {
    display: inline;
    transition: 0.5s;
}

.portadaChild:hover~.portadaChildImage img {
    width: 500px;
}