:root {
    --blackLight: #d1d1d1;
    --blackMedium: #6b6b6b;
    --blackDark: #2c2c2c;
    --redDark: #400913;
    --redMedium: #8C1127;
    --redLight: #d96d6d;
    --redLightWhite: #ffd9d9;
    --yellowLight: #D9C8B4;
    --yellowDark: #BF8F54;
}