:root {
    --blackLight: #d1d1d1;
    --blackMediumLight: #6b6b6b;
    --blackMedium: #2c2c2c;
    --redDark: #400913;
    --redMedium: #8C1127;
    --redLight: #BF3030;
    --redLightWhite: #ffd9d9;
    --YellowDark: #BF8F54;
    --YellowLight: #D9C8B4;
}