@import url(import.css);

.menuFather {
    display: flex;
    background-color: var(--blackDark);
}

.menuChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    place-items: center;
    text-align: center;
}

nav a {
    color: var(--redLight);
    display: flex;
    margin-left: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--yellowLight);
    transition: 0.3s;
}

#activate {
    color: var(--yellowLight);
}

#logo {
    width: 32px;
    cursor: pointer;
}