.footerContainer {
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

.footerContainer a {
    color: var(--blackLight);
    text-decoration: none;
    margin-right: 1em;
    transition: 0.3s;
}

.footerContainer a:hover {
    color: var(--white);
}

#logoBlackLight {
    width: 24px;
    cursor: pointer;
}